<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:700|Asul|Cinzel" rel="stylesheet">
    <script type="text/javascript">
      <% if current_user %>
        <% user_dict = render('api/users/user.json.jbuilder', user: current_user) %>
        <% user_dict = user_dict.html_safe %>
        window.currentUser = <%= user_dict %>;
      <% end %>
      window.cloudName = '<%= ENV["CLOUDINARY_CLOUD_NAME"] %>';
      window.cloudinaryKey = '<%= ENV["CLOUDINARY_API_KEY"] %>';
      window.pusherApiKey = '<%= ENV["PUSHER_API_KEY"] %>'
    </script>
    <title>Once Upon a Table</title>
  </head>
  <body>
    <div id="root">

    </div>
  </body>
</html>
