@import 'colors';

.whole-page {
  max-height: 1080px;
  height: 100vh;
  width: 100vw;
}

.asset-toolbar {
  padding-left: 20px;
  background-color: $nightsky;

  width: 180px;
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;

  .asset-toolbar-header {
    height: 40px;
    color: $starlight;
    font-size: 28px;
    background-color: $nightsky;

    input {
      color: $sepia;
      font-size: 20px;
      position: absolute;
      right: 0px;
      border-radius: 0 0 0 20px;
      text-align: center;
      top: 0px;
      width: 180px;
      background: lighten($parchment, 10%);
    }
  }

  .asset-library {
    overflow-y: scroll;
    overflow-x: hidden;
    background: $parchment;
    height: calc(100vh - 60px);
    padding: 10px;
    border-radius: 20px 0 0 0;

    .asset-entry {
      background: lighten($parchment, 10%);
      width: 150px;
      margin: 5px 0;
      border: 2px solid $sepia;
      border-radius: 5px 5px 0 0;
      overflow: hidden;
      box-shadow: 2px 2px transparentize($oak, 0.7);

      .asset-header {
        width: 150px;
        font-size: 18px;
        text-align: center;
        background: $sepia;
        color: $starlight;
      }

      .asset-image {
        width: 150px;
        height: auto;

        &:hover {
          filter: saturate(2);
        }
      }
    }
  }
}
