@import "colors";

form {
  color: $sepia;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: lighten($parchment, 10%);
  border: 2px solid $oak;
  border-radius: 2px;
  margin: 0 auto;
  box-shadow: 5px 5px transparentize($sepia, 0.9);

  h1 {
    font-size: 16px;
    text-decoration: underline;
  }

  input[type=text],
  input[type=password],
  textarea {
    border-bottom: 1px solid $sepia;
  }

  .button{
    text-align: center;
    cursor: pointer;
    background-color: $parchment;
    box-shadow: 2px 2px transparentize($sepia, 0.6);
  }

  input, select, textarea, ul, button {
    margin: 5px;
    padding: 5px;
  }

  textarea {
    height:150px;
    width: 300px;
    padding: 10px;
    border-left: 1px solid transparentize($sepia, .7);
    border-right: 1px solid transparentize($sepia, .7);
    border-top: 1px solid transparentize($sepia, .7);
  }

}

::-webkit-input-placeholder {
  color: transparentize(#777, 0.5);
}
