@import 'colors';

.game-index {
  width: 50%;
  padding: 5px;
  margin: 10px 5px;
  overflow-y: scroll;
  text-align: center;

}

.game-index-item {
  background-color: $oak;

}

.game-index h2 {
  font-size: 24px;
}

.game-index-item {
  box-sizing: border-box;
  background: lighten($parchment, 10%);
  margin: 15px;
  text-align: left;
  box-shadow: 0 0 5px transparentize($oak, 0.5);
}

.game-index-item-header {
  border: 2px solid darken($nightsky, 10%);
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  font-size: 18px;
  text-shadow: 0 0 1px darken($oak, 10%);
  background: $nightsky; //$oak;
  color: white;
  box-shadow: 0 3px transparentize(#999, 0.7);
  padding: 5px 10px;
}

.game-index-item-description {
  box-sizing: inherit;
  height: inherit;
  // font-size: 12px;
  position: absolute;

  // top: -60px;
  padding: 5px 5px 5px 10px;
  margin: 5px 10px;
  width: calc(100% - 25px);
  -webkit-transition: left 0.5s ease-in-out;
  -moz-transition: left 0.5s ease-in-out;
  -o-transition: left 0.5s ease-in-out;
  -ms-transition:  left 0.5s ease-in-out;
  transition: left 0.5s ease-in-out;

  &.collapse-left {
    left: 0;
  }

  &.collapse-right {
    left: 100%;
  }
}

.game-index-item a {
  text-decoration: underline;
}

.game-index-item-body {
  padding: 0px 10px 5px 10px;
  height: 100px;
  position: relative;
  overflow: hidden
}

.game-index-item-details {
  line-height: 1.5;
  box-sizing: inherit;
  width: calc(100% - 25px);
  padding: 5px 10px 5px 5px;
  position: absolute;
  margin: 5px 10px;
  -webkit-transition: left 0.5s ease-in-out;
  -moz-transition: left 0.5s ease-in-out;
  -o-transition: left 0.5s ease-in-out;
  -ms-transition: left 0.5s ease-in-out;
  transition: left 0.5s ease-in-out;

  &.collapse-left {
    left: -100%;
  }

  &.collapse-right {
    left: 0;
    // width: calc(100% - 20px);
  }
}

.game-index-item-divider {
  width: 10px;
  height:calc(100% + 5px);
  background-color: $oak;
  position: absolute;
  top: -5px;
  z-index: 1;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;

  &.collapse-left {
    left: 0px;
    box-shadow: 4px 0 transparentize($oak, 0.8), 2px 0 transparentize($oak, 0.8)
  }

  &.collapse-right {
    left: calc(100% - 10px);
    box-shadow: -4px 0 transparentize($oak, 0.8), -2px 0 transparentize($oak, 0.8)
  }
}

.game-detail-main {
  margin: 15px;
}

.game-detail-img {
  width: 40%;
  margin: 10px;
  img {
    border-top: 10px solid $nightsky;
    border-bottom: 10px solid $nightsky;
    border-radius: 5px;
    width: 100%;
    height: auto;
  }
}

.game-detail-body {
  width: 60%;
  margin: 10px;
  background-color: lighten($parchment, 10%);


  h1 {
    padding: 5px 10px;
    box-shadow: 0 5px transparentize($oak, 0.7);


    background-color: $nightsky;
    color: $starlight;
    border-radius: 5px 5px 0 0;
  }

  .table-wrap {
    padding: 0 5px;
    table {
      tr {
        border-top: 1px solid transparentize($oak, 0.7);

        // border: 1px solid yellow;
        td {
          padding: 5px 10px 10px 10px;
          a {
            text-decoration: underline;
          }
        }
        th {
          line-height: 2;
          padding: 5px 10px 10px 10px;

        }
      }
    }
  }
}

.game-detail-players {
  margin: 10px;
  border-top: 2px solid $sepia;
  ul {
    display: flex;

    li {
      display: inline-block;
      float: left;
      a {
        img {
          margin: 10px;
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}
