@import 'colors';

.game-index {
  width: 50%;
  padding: 5px;
  margin: 10px 5px;
  overflow-y: scroll;
  text-align: center;

  h2 {
    font-size: 24px;
    // text-shadow: 0 1px $oak;
  }
}

.game-index-item {
  border-radius: 10px 10px 0 0;
  box-sizing: border-box;
  background: lighten($parchment, 10%);
  margin: 15px;
  text-align: left;
  box-shadow: 0 0 5px transparentize($oak, 0.5);
}

.game-index-item-header {
  border: 2px solid darken($nightsky, 10%);
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  font-size: 18px;
  text-shadow: 0 0 1px darken($oak, 10%);
  background: $nightsky; //$oak;
  color: white;
  box-shadow: 0 3px transparentize(#999, 0.7);
  padding: 5px 10px;
}

.game-index-item-description {
  height: inherit;
  position: absolute;
  box-sizing: border-box;
  height: calc(100% - 5px);

  padding: 5px 5px 5px 10px;
  margin: 5px 10px;
  width: calc(100% - 25px);
  -webkit-transition: left 0.5s ease-in-out;
  -moz-transition: left 0.5s ease-in-out;
  -o-transition: left 0.5s ease-in-out;
  -ms-transition:  left 0.5s ease-in-out;
  transition: left 0.5s ease-in-out;

  &.collapse-left {
    left: 0;
  }

  &.collapse-right {
    left: 100%;
  }
}

.game-index-item a {
  text-decoration: underline;
}

.game-index-item-body {
  padding: 0px 10px 5px 10px;
  height: 100px;
  position: relative;
  overflow: hidden
}

.game-index-item-details {
  box-sizing: border-box;

  line-height: 1.5;
  width: calc(100% - 25px);
  padding: 5px 10px 5px 5px;
  position: absolute;
  margin: 5px 10px;
  -webkit-transition: left 0.5s ease-in-out;
  -moz-transition: left 0.5s ease-in-out;
  -o-transition: left 0.5s ease-in-out;
  -ms-transition: left 0.5s ease-in-out;
  transition: left 0.5s ease-in-out;

  &.collapse-left {
    left: -100%;
  }

  &.collapse-right {
    left: 0;
    // width: calc(100% - 20px);
  }
}

.game-index-item-divider {
  box-sizing: border-box;

  width: 10px;
  height:calc(100% + 5px);
  background-color: $oak;
  position: absolute;
  top: -5px;
  z-index: 1;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;

  &.collapse-left {
    left: 0px;
    box-shadow: 4px 0 transparentize($oak, 0.8), 2px 0 transparentize($oak, 0.8)
  }

  &.collapse-right {
    left: calc(100% - 10px);
    box-shadow: -4px 0 transparentize($oak, 0.8), -2px 0 transparentize($oak, 0.8)
  }
}

.game-detail-main {
  margin: 15px;
}

.game-detail-img {
  width: 40%;
  margin: 10px;
  img {
    border-top: 10px solid $nightsky;
    border-bottom: 10px solid $nightsky;
    border-radius: 5px;
    width: 100%;
    height: auto;
  }
}

.game-detail-body {
  width: 60%;
  margin: 10px;
  background-color: lighten($parchment, 10%);


  h1 {
    text-align: center;
    padding: 5px 10px;
    box-shadow: 0 1px transparentize($nightsky, 0.9),
                0 2px transparentize($nightsky, 0.9),
                0 3px transparentize($nightsky, 0.9),
                0 4px transparentize($nightsky, 0.9);


    background-color: $nightsky;
    color: $starlight;
    border-radius: 5px 5px 0 0;
  }

  .table-wrap {
    padding: 0 5px;
    table {
      width: 100%;
      tr {
        border-top: 1px solid transparentize($oak, 0.7);

        // border: 1px solid yellow;
        td {
          // min-width: 300px;
          padding: 5px 10px 10px 10px;
          a {
            text-decoration: underline;
          }
        }
        th {
          line-height: 2;
          padding: 5px 10px 10px 10px;

        }
      }
    }
  }
}

.game-detail-players {
  padding: 0 5px 5px 5px;
  ul {
    // border-top: 2px solid transparentize($sepia, 0.4);
    // margin: 5px 0;
    li {
      display: inline-block;
      margin: 10px 10px;
      position: relative;
      div.player-link {
        a {

        }

        .icon.small {
          position: absolute;
          top: 30px;
          right: 0px;
        }
      }
    }
  }
}

.user-signup {
  box-sizing: border-box;
  // border-radius: 10px 10px 0 0;

  width: 400px;
  height: 300px;
  position: fixed;
  top: calc(50vh - 150px);
  bottom: calc(50vh - 150px);
  left: calc(50vw - 200px);
  right: calc(50vw - 200px);
  z-index: 21;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 0 10px transparentize($nightsky, 0.5);

  & > div > .icon.small {
    border: 2px solid $starlight;
    position: absolute;
    top: 8px;
    text-align: center;
    right: 8px;
    color: $starlight;
    background: lighten($nightsky, 10%);
  }

  .user-signup-header {
    box-sizing: inherit;
    padding: 10px;
    background-color: $nightsky;
    color: $starlight;
    text-size: 20px;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 1px transparentize($nightsky, 0.9),
                0 2px transparentize($nightsky, 0.9),
                0 3px transparentize($nightsky, 0.9),
                0 4px transparentize($nightsky, 0.9);
  }

  .user-signup-body {
    border-bottom: 1px solid $nightsky;
    border-left: 1px solid $nightsky;
    border-right: 1px solid $nightsky;
    background: lighten($parchment, 10%);
    padding: 10px;
    font-size: 16px;

    input {
      box-sizing: border-box;
      width: calc(100% - 20px);
      margin: 10px;
      padding: 5px;
    }

    ul {
      height: 250px;
      padding: 0 5px;
      border-top: 2px solid transparentize($sepia, 0.5);
      overflow: scroll;

      li {
        display: flex;
        box-sizing: content-box;
        border-bottom: 1px solid transparentize($oak, 0.7);
        padding: 5px 10px;
        // margin: 10px;


        .icon.small {
          margin: 0 10px;
          position: inherit;
          top: auto;
          left: auto;
          right: auto;
          bottom: auto;
        }

        div {
          height: auto;
          div {
            display: inline-block;
          }
        }

        &:hover, &.selected {
          background: transparentize($oak, 0.7);
        }
      }
    }

  }

}
