@import "colors";


$header_height: 50px;

$navbar_bg_color: $nightsky;
$navbar_link_color: $starlight;
$navbar_link_shadow: $starglow;

header {
  background-color: $navbar_bg_color;
  color: $navbar_link_color;
  box-shadow: 0 0 15px $sepia;
}

.header-logo {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
}

.header-nav, .header-logo {
  user-select: none;
  width: 50%;
}

.header-nav {
  position: relative;

  & > * {
    &:hover {

      .hidden {
        display: inline-block;
      }

      &.showing {
        border-bottom: none; //solid $oak;
      }

      &.hidden {
      }
    }

    cursor: pointer;
    .header-link {
      font-weight: 700;
      font-size: 24px;
    }

    .nav-dropdown {
      display: none;
      box-sizing: border-box;
      color: $sepia;
      font-size: 16px;
      border: 2px solid $oak;
      border-radius: 0 0 4px 4px;
      background-color: lighten($parchment, 10%);
      // padding: 0 10px;
      position: absolute;
      width: 100%;
      z-index: -1;
      top: 50px;
      transition: max-height 0.5s ;
      -webkit-transition: max-height 0.5s ;
      overflow: hidden;

      li {
        &:hover {
          background-color: darken($parchment, 10%);
        }
        cursor: pointer;
        padding: 0 5px;
        text-align: left;

        &:last-child a {
          border: none;
        }

        a {
          padding: 10px 10px;
          display: block;
          height: 100%;
          width: 100%;
          border-bottom: 2px solid transparentize($sepia, 0.4);
        }
      }
    }
  }
}

.nav-dropdown {
  &.showing {
    display: inline-block;
    max-height: 100px;
  }
  &.hidden {
    // top: -76px;
    max-height: 0px;
  }
}
