$header_height: 50px;
$footer_height: 30px;
$content_width: 800px;

#root {
  height: 100vh;
}



h1 {
  font-size: 36px;
  font-weight: bold;
}

.splash-desc-container, .splash-image-container{
  width: 50%;
}

.splash-desc {
  padding: 10px;
}

.content-center {
  width: $content_width;
  // border: 1px solid purple;
}

.content {
  height: calc(100vh - #{$header_height} - #{$footer_height});
}

header {
  height: $header_height;
}

footer {
  height: $footer_height;
}

footer > .content-center{
  border-right: 1px solid white;
  border-left: 1px solid white;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}
.flex-around {
  display: flex;
  justify-content: space-around;
}

.center-horiz {
  display: flex;
  justify-content: center;
}

.center-vert {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.content-center > * {
  height: 100%;
}

.header-nav, .header-logo {
  width: 50%;
}

.header-logo {
  border-left: 1px solid white;
  text-align: center;
}

.header-nav > * {
  border-left: 1px solid white;
  position: relative;
  text-align: center;
  width: 50%;
}

.header-nav > *:last-child {
  border-right: 1px solid white;
}

.nav-dropdown {
  padding: 0 10px;
  user-select: none;
  position: absolute;
  top: $header_height;
  left: 0%;
  width: calc(100% - 20px);
  border: 1px solid white;
}

form {
  height: 50%;
  width: 50%;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  margin: 0 auto;
}

form > * {
  margin: 10px 0;
}

.nav-dropdown li {
  padding: 20px 5px;
  user-select: inherit;
  text-align: left;
  border-bottom: 1px solid white;
}

.nav-dropdown li:last-child {
  border: none;
}

.hidden {
  display: none;
}
.showing {
  display: block;
}
