@import "colors";

p {
  margin-bottom: 10px;
  &:last-child {
    margin: inherit;
  }
}

.icon {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  color: $nightsky;
  width: 40px;
  height: 40px;
  border: 5px solid $nightsky;
  border-radius: 25px;
  background: lighten($parchment, 20%);
  overflow: hidden;
  cursor: pointer;
  outline: none;

  & > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: inherit;
    width: inherit;
  }

  &.small {
    font-size: 20px;
    width: 20px;
    height: 20px;
    border: 2px solid $nightsky;
    border-radius: 12px;
  }

  &.large {
    font-size: 96px;
    width: 80px;
    height: 80px;
    border: 10px solid $nightsky;
    border-radius: 50px;
  }
}

footer {
  background-color: $nightsky;
  color: $starlight;
}

// Measurements:
$header_height: 50px;
$footer_height: 30px;
$content_width: 800px;
$fixed_vertical_space: calc(#{$header-height} + #{$footer_height});
$clear_vertical_space: calc(100vh - #{$fixed_vertical_space});

// Layout classes

.content {
  min-height: $clear_vertical_space;
}

::-webkit-scrollbar {
    display: none;
}

.splash-desc-container, .splash-image-container{
  width: 50%;
  padding: 15px;
}

.splash-desc {
  padding: 10px;
}

.content-center {
  width: $content_width;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}
.flex-around {
  display: flex;
  justify-content: space-around;
}

.center-horiz {
  display: flex;
  justify-content: center;
  // height: 100%;
}

.center-vert {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%
}

.header-nav > * {
  position: relative;
  text-align: center;
  width: 50%;
}

.content {
  background: $parchment;
  margin-top: $header_height;
  margin-bottom: $footer-height;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

h2 {
  font-size: 18px;
}

// body {
//   padding-top: $header_height;
//   padding-bottom: $footer-height;
// }

header {
  height: $header_height;
  width: 100vw;
  position: fixed;
  top: 0px;
  z-index: 3;
}

footer {
  width: 100vw;
  position: fixed;
  z-index: 10;
  bottom: 0px;
  height: $footer_height;
}
