@import './colors';
$sepia-shadow : transparentize($sepia, 0.7);

.splash-bg {
  // box-sizing: border-box;


  .content-center {
    background-color: transparentize($parchment, 0.25);

    .splash-desc-container {
      padding: 20px;
      width: 50%;
      height: 100%;
      position: relative;

      .splash-desc {
        background-color: lighten($parchment, 10%);
        position: absolute;
        top: 20px;
        right: 10px;
        width: 500px;

        .splash-header {
          padding: 10px;
          border-top: 5px solid $nightsky;
          border-radius: 5px 5px 0 0;
          background: $nightsky;
          h1 {
            padding: 10px;
            color: $starlight;
            text-shadow: 0 1px $oak, 0 2px $oak;
            font-size: 22px;
            text-align: center;
          }

        }
        .splash-body {
          padding: 10px;
          font-size: 22px;
          line-height: 1.1;

          p {
            margin: 10px 5px;;
          }
        }
      }
    }

    .splash-image-container {
      position: relative;
      width: 50%;
      img {
        position: absolute;
        top: 20px;
        left: 20px;
        border: 1px solid $oak;
        height: auto;
        box-shadow: 1px 1px $sepia-shadow, 2px 2px $sepia-shadow,
                    3px 3px $sepia-shadow, 4px 4px $sepia-shadow,
                    5px 5px $sepia-shadow;
      }
    }
  }
}
